body{
    background-color: antiquewhite;
    padding: 10px;
    margin: 55px;
    font-family: cursive;
    text-align: center;
    
}
#container,
#showData
{
    border: 4px inset darkcyan;
    border-radius:  10px;
    
}